/* styles */
* {
    margin: 0%;
    padding: 0%;
    font-size: 62.5%;
}
/* start header */
header {
    background-color: #353a40;
    display: flex;
}

/* end header */

/* start nav */
nav {
    display: flex;
    margin-left: 15%;
}

li {
    display: flex;
}

.logo {
    display: flex;
    justify-content: start;
    min-width: max-content;
    margin: 10px;
}

.link_00 {
    font-size: 3rem;
    display: flex;
    align-items: center;
    margin: 10px;
    color: #FFFFFF;
    text-decoration: none;
    background: none;
    transition: all 1s ease;
}

.link_00:hover {
    color: #FFFFFF;
    font-size: 3.2rem;
}

.nav_links {
    display: flex;
    align-items: center;
    margin: 10px;
}

li {
    list-style: none;
}

.link_01 {
    color: #81888c;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background: none;
    min-width: max-content;
    transition: all 1s ease;
    margin: 20px;
}

.link_01:hover {
    color: #FFFFFF;
    font-size: 2.5rem;
}
/* end nav */

/* start section_01 */
.section_01 {
    background-image: url(../img/ba1.jpg);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

h1 {
    font-size: 4rem;
}

.conf_bsas {
    width: 40%;
    height: 40%;
    margin: 15%;
    margin-right: 10%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text_01 {
    font-size: 3.5rem;
    color: #FFFFFF;
    text-align: right;
}

.button_01 {
    display: flex;
    justify-content: flex-end;
}

button {
    font-size: 2.5rem;
    text-align: center;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    transition: all 1s ease;
}

button:hover {
    background-color: rgb(255, 255, 255, 0.3);
}

.button_01 :nth-child(2) {
    background-color: #29a744;
    border: 2px solid #29a744;
    transition: all 1s ease;
}

.button_01 :nth-child(2):hover {
    background-color: rgb(41, 167, 68, 0.3);
}

.filter {
    background-color: rgb(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.link_04 {
    outline: none;
    text-decoration: none;
    font-size: 2.5rem;
    color: #FFFFFF;
}

.link_04:hover {
    outline: none;
    text-decoration: none;
    font-size: 2.5rem;
    color: #FFFFFF;    
}

.link_04:visited {
    outline: none;
    text-decoration: none;
    font-size: 2.5rem;
    color: #FFFFFF;    
}
/* end section_01 */

/* start section_02 */
.card_container {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.title_02 {
    color: #000000;
    text-align: center;
    margin-top: 2%;
    font-size: 4rem;
}

.title_02 :nth-child(2) {
    font-size: 9rem;
}

.card-title {
    font-size: 4rem;
}

.card-text {
    font-size: 2rem;
}

.badge {
    font-size: 2rem;
    margin: 5px;
}
/* end section_02 */

/* start section_03 */
.section_03 {
    display: flex;
    justify-content: center;
}

.bsas_octubre {
    background-color: #353a40;
    color: #FFFFFF;
    font-size: 3rem;
    margin-left: 2px;
    padding: 30px;
    width: 100%;
}

.button_02 {
    background-color: transparent;
    font-size: 2rem;
    margin: 0px;
    padding: 7px;
}
/* end_section_03 */

/* start section_04 */
.section_04 p {
    font-size: 2rem;
    text-align: center;
}

.link_02 {
    font-size: 2rem;
    color: #000000;
    border-bottom: 2px dotted #000000;
    text-decoration: none;
}

.link_02:hover {
    color: #000000;
}

form {
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_name {
    display: flex;
    margin: 20px;
}

input {
    margin: 20px;
    padding: 10px;
    width: 500px;
    height: 45px;
}

textarea {
    width: 1040px;
    padding: 10px;
}

.form_text p {
    color: #81888c;
    text-align: left;
}

.form_send {
    background-color: #96c93e;
    color: #FFFFFF;
    font-size: 3rem;
    border: none;
    border-radius: 8px;
    height: 10%;
    width: 55%;
    text-align: center;
}

/* end section_04 */

/* start footer */
footer {
    background-color: #1e516e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_links {
    margin: 1%;
    padding: 10px;
    display: flex;
    text-align: center;
}

.link_03 {
    font-size: 2rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    transition: all 1s ease;
    margin-left: 80px;
}

.link_03:hover {
    color: #FFFFFF;
    font-size: 2.5rem;
}

.footer_list {
    display: flex;
}
/* end footer */